<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://th.bing.com/th/id/R.cbb90ed0829bd8170cc1f7d2742cd5f5?rik=IiNd5abM1IYE5A&riu=http%3a%2f%2fimages5.fanpop.com%2fimage%2fphotos%2f31800000%2fIron-Man-iron-man-3-31868069-1600-1200.jpg&ehk=f46CLrSD16BzkwfuLDaMT74%2fxp0jjvhbaL%2bbmihaJlY%3d&risl=&pid=ImgRaw&r=0" alt=""
        height=""
        width="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptate earum sint, quaerat suscipit numquam, culpa autem enim, debitis sed facere sequi quos saepe veniam perspiciatis aliquid in. Fugiat, enim!</a>
        </p>
    </div>
</div>
