.container__small-card {
    width: 700px;
    margin-bottom: 15px;
    max-height: 166.6px;
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
}

.small__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small__title {
    display: flex;
    align-items: center;
}

.small__title > h1 {
    font-size: 18px;
    line-height: 1.5em;
    
}

hr {
    margin-top: 15px;
}

