header {
    margin-bottom: 20px;
}

.container__content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.content__cover > img {
    border-radius: 5px;
    border: 5px solid rgb(145, 145, 145);  
    margin-bottom: 15px;
    min-width: 400px;
    min-height: 300px;
}

.content__title > h1 {
    @media screen and (max-width: 1360px){
        font-size: 1.6em;
    }
}

.content__description {
    margin-top: 20px;
    text-align: justify;
    width: 50%;
    line-height: 1.5em;
    
    @media screen and (max-width: 1360px){
        font-size: 1em;
        width: 60%;
    }

}

.content__description > a {
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
}

.content__description > a > img {
    display: block;
    margin: auto;   
}

.seta {
    background-color: rgba(255, 255, 255, 0.329);  
    border-radius: 50px;  
    
}

.description {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 20px;
    padding-top: 13px;
    border-radius: 5px;
    
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 3px;
    border-radius: 3px;
}

.link:hover {
    text-decoration: underline;
}

.item-photoCover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    border: 5px solid rgb(145, 145, 145);  
    width: 400px;
    height: 300px;
    cursor: pointer;
}

.item-photoCover {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.item-photoCover:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    margin-bottom: 50px;
    margin-top: 30px;
}

.item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    border: 5px solid rgb(145, 145, 145);  
    width: 700px;
    height: 500px;
    cursor: pointer;
    
  }

  /*.item {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .item:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }*/
  
  .botoes-controle {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .botoes-controle-photoCover {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .botoes-controle button {
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    width: 12px;
  }
  
  .botoes-controle button.ativo {
    background: #ff0000;
    cursor: default;
  }