<div class="container__content">
    <div class="content__cover">
        <div class="photo-container" (click)="openHighQualityView()">
            <app-carrossel
            [photoCover]="photoCover"
            ></app-carrossel>
        </div>
    </div>
    <div class="content__title">
        <h1>{{ contentTitle }}</h1>
        <hr>
    </div>
    <div class="content__description">
        <a [routerLink]="['']" onclick="history.go(-1); return false;"><img class="seta" src="../../../assets/imgs/voltar.png" alt=""></a>
        <p class="link">
            <a href="{{link}}" target="_blank"> {{link}} </a>
        </p>
        <p>
            {{ contentDescription }}
        </p>
    </div>
</div>
