.container__content {
    
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__cover > img {
    border-radius: 5px;
    border: 5px solid rgb(145, 145, 145);  
    margin-bottom: 15px;
    min-width: 400px;
    min-height: 300px;
}

.content__description {
    margin-top: 20px;
    text-align: justify;
    width: 50%;
    line-height: 1.5em;

}

.content__description > a > img {
    box-sizing: border-box;
    display: block;
    margin: auto;   
}

.seta {
    background-color: rgba(255, 255, 255, 0.329);  
    border-radius: 50px;  
    
}

.content__description > p {
    color: rgb(243, 240, 240);
    margin-top: 10px;
    margin-bottom: 20px;
}

.link {
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}