<div class="container__content">
    <div class="content__cover">
        <img src="{{ photoCover }}" alt="" srcset="">
    </div>
    <div class="content__title">
        <h1>{{ contentTitle }}</h1>
        <hr>
    </div>
    <div class="content__description">
        <a [routerLink]="['']"><img class="seta" src="../../../assets/imgs/voltar.png" alt=""></a>
        <p class="link">
            <a href="https://merry-cannoli-bfcfe3.netlify.app" target="_blank"> {{ link }} </a>
        </p>
        <p>
            {{ contentDescription }}
        </p>
    </div>
</div>
