
    <app-menu-title></app-menu-title>

    <div class="container__articles">
        <div class="articles__main">
            <app-big-card 
            Id="1"
            photoCover="../../../assets/imgs/eu.jpg"
            cardTitle="UM POUCO SOBRE MIM"
            cardDecription="Olá! Me chamo Rafael e sou formado em História pela Universidade Federal de Pelotas (UFPEL). Durante a graduação aprendi a fazer diagramação e ilustração para criar meus materiais didáticos..."></app-big-card>
        </div>

        <div class="articles__others">
            <app-small-card
                Id="2"
                photoCover="../../../assets/imgs/nantes.jpg"
                cardTitle="Livro autobiográfico do escritor José Carlos Nantes"
            
                ></app-small-card>
            <app-small-card
                Id="3"
                photoCover="../../../assets/imgs/mockup.jpg"
                cardTitle="Histórias de vida de um Sertanejo falecido no início dos anos 2000"

            ></app-small-card>

            <app-small-card
                Id="4"
                photoCover="../../../assets/imgs/machu-picchu.png"
                cardTitle="Guia turístico para viajar o mundo"
            
            ></app-small-card>
        </div>

    </div>

    <h1 class="programação">Projetos de Programação</h1>
    <div class="container__articles">
        <div class="articles__main">
            <app-big-card 
            Id="5"
            photoCover="../../../assets/imgs/angular.png"
            cardTitle="Quizz Buzzfeed com AngularJS"
            cardDecription=""></app-big-card>
        </div>
        
        <div class="articles__others">
            <app-small-card
                Id="6"
                photoCover=""
                cardTitle="Projeto Cordel Moderno com HTML e CSS"
            
                ></app-small-card>

    </div>

    
