


<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        Id="1"
        photoCover="https://th.bing.com/th/id/R.7bf4f5ca5cfd13c02af4f13182e30556?rik=QTLzFMwuKo0Ftg&pid=ImgRaw&r=0"
        cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
        cardDecription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptate earum sint, quaerat suscipit numquam, culpa autem enim, debitis sed facere sequi quos saepe veniam perspiciatis aliquid in. Fugiat, enim!"></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
            Id="2"
            photoCover="https://cdn-images-1.medium.com/max/1600/0*A3dtHF1Pk8_VgmWJ.jpeg"
            cardTitle="Nova série Marvel anunciada para 2024"
        
            ></app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://th.bing.com/th/id/OIP.kCmovn0B-RrE8dhmPLYL_wHaFF?rs=1&pid=ImgDetMain"
            cardTitle="Novo filme no Disney+"

        ></app-small-card>

        <app-small-card
            Id="4"
            photoCover="https://th.bing.com/th/id/OIP.5yGvkgNTgIswBjzUpO181QHaEo?rs=1&pid=ImgDetMain"
            cardTitle="Atualizações do novo Patch do Valorant"
        
        ></app-small-card>
    </div>

</div>