/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sriracha&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

html {
    background: url(assets/imgs/postura-plana-da-estacao-de-trabalho-com-espaco-de-copia-e-laptop.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}

body {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}