/* You can add global styles to this file, and also import other style files */
* {
    background-image: url(assets/imgs/18220884_v1016-b-09.jpg);
    background-size: cover;
    
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}